<!-- Logback Configuration. See http://logback.qos.ch/ -->
<configuration>

  <property resource="log_dev_app.properties" />

   <!-- Console (STDOUT) output. -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

    <!-- Only print log messages at level WARN or higher. -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>

    <!-- Default encoder is ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <!-- two-line layout suitable for a terminal -->
      <pattern>%date{HH:mm:ss.SSS} %-5level %logger [%thread]%n%msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>


  <!-- The output file configuration for log/all.log -->
  <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <!-- Default encoder is ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-5level %logger{25}: %msg %X thread=%thread%n</pattern>
    </encoder>

    <!-- Default location of log file is log/all.log -->
    <file>log/pl-wtl-mail.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Roll over log files daily -->
      <fileNamePattern>log/pl-wtl-mail.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

      <!-- And start a new file every 64 MB -->
      <timeBasedFileNamingAndTriggeringPolicy
          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>64MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>

      <!-- Delete log files older than 15 days. Does not limit the
           total number of files. -->
      <maxHistory>15</maxHistory>
    </rollingPolicy>
  </appender>


  <!-- Root log level is "ALL", meaning all log levels are emitted. -->
  <root level="ALL">
    <!-- Send all log messages to console (filtered to WARN) -->
    <appender-ref ref="CONSOLE" />

    <!-- Send all log messages to the log file -->
    <appender-ref ref="LOG_FILE" />
  </root>


  <!-- If you have a REPL or interactive shell with a logger named
       'user' or 'dev', send those messages to the log file too. -->
  <logger name="user" level="ALL">
    <appender-ref ref="LOG_FILE" />
  </logger>
  <logger name="dev" level="ALL">
    <appender-ref ref="LOG_FILE" />
  </logger>


  <!-- Make java.util.logging more efficient at disabled levels.
       See http://logback.qos.ch/manual/configuration.html#LevelChangePropagator -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
</configuration>
